@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

#header{
  height: 10vh;
}

#body{
  height: 90vh;
}

#render-img{
  height: calc(90vh - 120px);
}

#materiales, #caja, #etiquetado, #palletizado{
  height: calc(45vh - 24px);
}

.inner{
  height: calc(45vh - 66px);
}